* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

body {
    height: 1000px;
    
}


.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

.menu.clearfix {
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 999;
    height: 4em;
   
}


.col-sx-menu {
    float:left;
    height: 4em;
}

.col-dx-menu {
    float:right;
    height: 4em;
}

.col-sx-menu a {
    text-decoration: none;
}

.col-dx-menu a {
    text-decoration: none;
}

.ul-nav a{
    color: black;
    list-style-type: none;
}

.ul-nav {
    display: inline-block;
    list-style-type: none;
    font-size: small;
    font-weight: bold;
}

.ul-nav li {
    display: inline;
    margin-right: 1.5em;
    padding-bottom: 1em;
    vertical-align: 1.6em;
}

.ul-nav li:not(#nav-btn):hover{
    border-bottom: black 1px solid;
}

.logo {
    padding: 1em;

}


.ul-nav.nav-dx-pdn-top li {
    vertical-align: -1.6em;
   

}

#nav-btn {
    padding: 0.5em 1em;
    background-color: cornflowerblue;
    border-bottom: 0px;
    display: inline;
    color: white;
    font-size: small;
    
}

.jumbo-title {
    height: 20em;
    background-color: #B4D0E7;
    width: 100%;
    padding-top: 8em;
}

.jumbo-title h1 {
    font-size: 4.6em;
    width: 80%;
    margin: auto;
    
}

.jumbo-main {
    position: relative;
    height: 25em;
    background-color: #B4D0E7;
    padding-top: 3em;
}

.jumbo-main-sx {
    float: left;
    width: 30%;
    margin-left: 10%;
    padding-right: 8.3em;
}

.jumbo-main-dx {
    float: right;
    width: 50%;
    margin-right: 10%;
}

.jumbo-main-sx p:not(#annullamento) {
    font-size: small;
    font-weight: bold;
    line-height: 1.5em;
    margin-bottom: 2em;
}

.jumbo-width {
    max-width: 100%;
}

#annullamento {
    margin-top: 2em;
    font-size: small;
    font-weight: bold;
}