* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}




.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

.menu.clearfix {
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 999;
    height: 4em;
   
}


.col-sx-menu {
    float:left;
    height: 4em;
}

.col-dx-menu {
    float:right;
    height: 4em;
}

.col-sx-menu a {
    text-decoration: none;
}

.col-dx-menu a {
    text-decoration: none;
}

.ul-nav a{
    color: black;
    list-style-type: none;
}

.ul-nav {
    display: inline-block;
    list-style-type: none;
    font-size: small;
    font-weight: bold;
}

.ul-nav li {
    display: inline;
    margin-right: 1.5em;
    padding-bottom: 1em;
    vertical-align: 1.6em;
}

.ul-nav li:not(#nav-btn):hover{
    border-bottom: black 1px solid;
}

.logo {
    padding: 1em;

}


.ul-nav.nav-dx-pdn-top li {
    vertical-align: -1.6em;
   

}

#nav-btn {
    padding: 0.5em 1em;
    background-color: cornflowerblue;
    border-bottom: 0px;
    display: inline;
    color: white;
    font-size: small;
    font-weight: bold;
    
}

.jumbo-title {
    height: 20em;
    background-color: #B4D0E7;
    width: 100%;
    padding-top: 8em;
}

.jumbo-title h1 {
    font-size: 4.6em;
    width: 80%;
    margin: auto;
    
    
}

.jumbo-main {
    position: relative;
    height: 24em;
    background-color: #B4D0E7;
    padding-top: 3em;
}

.jumbo-main-sx {
    float: left;
    width: 30%;
    margin-left: 10%;
    padding-right: 8.3em;
}

.jumbo-main-dx {
    float: right;
    width: 50%;
    margin-right: 10%;
}

.jumbo-main-sx p:not(#annullamento) {
    font-size: small;
    font-weight: bold;
    line-height: 1.5em;
    margin-bottom: 2em;
}

.jumbo-width {
    max-width: 100%;
    padding-right: 4em;
}

#annullamento {
    margin-top: 2em;
    font-size: small;
    font-weight: bold;
    margin-bottom: 1em;
}

.fa.fa-arrow-down {
    font-size: 1.5em;
}

.main-title {
    width: 60%;
    margin: 12em 10em 2em 20em;
   
}

.main-title h2 {
    font-size: 2.5em;
}

.fatturazione {
    margin-left: 20em;
}

.fatturazione span {
    font-size: small;
    font-weight: bold;
}

.margin-fatturazione {
    margin-right: 1em;
}
 
.radio {
    vertical-align: -0.2em;
}


.main-container {
    width: 60%;
    margin: 2em 20em 3em 20em;
    height: 52em;
}

.col-header {
    float:left;
    width: 30%;
    border: 1px solid #EBEBEC;
    font-size: medium;
    text-align: center;
    
}

.col-header h3 {
    font-size: 15px;
    padding: 0.5em;
    display: inline-block;
    
}


.col-header.col-margin {
    margin-left: 5%;
    margin-right: 5%;
}

.col-main {
    float:left;
    width: 30%;
    border: 1px solid #EBEBEC;
    font-size: medium;
    height: 800px;
    border-top: 0px;
    margin-bottom: 3em;

}



.tariffe {
    padding: 2em 2em 0.5em 1.5em;
}

.price {
    font-weight: bold;
    font-size: small;
    padding-top: 1em;
    
}

.abb {
    padding-top: 1em;
    font-weight: bold;
    font-size: 10px;
    color: grey;
}

.col-main ul {
    list-style-type: none;
    font-size: 10px;
    padding-top: 2em;
    font-weight: 600;
    margin-bottom: 3em;
    padding: 2em 2.5em 0.5em 2em;
    
}

.col-main li {
    margin-top: 2em;

}

#prova {
    padding: 0.5em 3.5em;
    background-color: cornflowerblue;
    border-bottom: 0px;
    display: inline;
    color: white;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 2em;
   
}
.col-main.col-margin {
    margin-left: 5%;
    margin-right: 5%;
}

.acquisto-immediato {
    margin-top: 2em;
    font-size: 10px;
    font-weight: 600;
}

#oppure-border {
    padding-bottom: 2em;
    border-bottom: 1px solid grey;
    margin-left: 2em;
}

.acquisto-immediato a{
    color: cornflowerblue;
}

.punti-salienti {
    margin-top: 3em;
    
}

.punti-salienti p {
    font-size: 12px;
    font-weight: bolder;
    margin-left: 2em;
}

.punti-salienti ul {
   
    list-style-type: none;
}

.check {
    color: cornflowerblue;
}

.col-footer-title {
    width: 60%;
    padding: 0em 0.5em 0.5em 0.5em;
    margin: 0em 20em 0em 20em;
    text-align: center;
    border-bottom: 1px solid #EBEBEC;
    border-right: 1px solid #EBEBEC;
    border-left: 1px solid #EBEBEC;
}
.col-footer-title h3 {
    display: inline-block;
}

.col-footer-title span{
    margin-right: 0.5em;
}

.col-footer-content {
    height: 150px;
    border-bottom: 1px solid #EBEBEC;
    border-right: 1px solid #EBEBEC;
    border-left: 1px solid #EBEBEC;
    width: 60%;
    margin: 0em 20em 5em 20em;
    position: relative;
}

.col-footer-content-dx {
    width: 30%;
    float:right;
    height: 150px;
    margin-top: 2em;
}

.col-footer-content-sx {
    width: 70%;
    float:left;
    height: 150px;
}

.didasc-main-footer {
    padding-top: 1em;
    font-weight: bold;
    font-size: 10px;
}

#main-footer-btn {
    padding: 0.5em 3.5em;
    background-color: cornflowerblue;
    border-bottom: 0px;
    display: inline;
    color: white;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 2em;
}